* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #111; /* 🔥 CLAVE */
}

h1, h2, h3 {
  color: #111;
}

p {
  color: #333;
}

/* NAV RESPONSIVE */
@media (max-width: 768px) {
  nav {
    display: none !important;
  }

  div[style*="cursor: pointer"] {
    display: block !important;
  }
}